* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

#inputfieldDivWrapper {
  height: 35vh;
  background-image: url("../images/pattern-bg.png");
  background-color: #cccccc;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#siteTitle {
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
  font-weight: 500;
}

input[type="text"] {
  width: 36vw;
  height: 50px;
  font-size: 16px;
  border-radius: 15px;
  margin: 10px auto;

  box-sizing: border-box;
  padding-left: 20px;

  padding-right: 50px;
  display: inline-block;
}

input[type="text"]:hover {
  cursor: pointer;
}

.invalidInput {
  border: red solid 3px;
}
.validInput {
  border: green solid 3px;
}

input[type="submit"] {
  height: 50px;
  width: 4vw;
  padding-top: 40px;
  border-radius: 15px;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #000000;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  margin-left: -50px;
  -webkit-appearance: none;
  position: absolute;
  right: 460px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

#inputBoxContainer {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ipInformationContainer {
  width: 75%;
  background-color: #ffffff;
  height: 20vh;
  margin-top: -80px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  display: flex;
}

.ipInfoElement {
  /*border: 3px solid black;*/
  flex: 1 1 auto;
  width: 25%;
  text-align: left;
  display: flex;
  position: relative;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  /*border-right: 1px solid red;*/
}

.ipInfoElement:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 25%;
  height: 50%;
  border-left: 1px solid hsl(0, 0%, 59%);
}

.ipInfoElement:nth-of-type(1)::after {
  border-left: none;
}

.ipInfoTitle {
  padding-bottom: 20px;
  margin-top: -20px;
  color: hsl(0, 0%, 59%);
  font-size: 13px;
  font-weight: 500;
}

.ipInfoValue {
  font-size: 24px;
  width: 150px;
  height: 40px;
  font-weight: 500;
}

#map {
  width: 100vw;
  /*background-color: #333333;*/
  height: 68vh;
  position: relative;
  padding-top: -40px;
  margin-top: -90px;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  input[type="text"] {
    width: 90%;
    height: 60px;
  }
  input[type="text"]::placeholder {
    font-size: 15px;
  }
  input[type="submit"] {
    right: 20px;
    width: 50px;
    height: 60px;
  }
  #ipInformationContainer {
    flex-direction: column;
    height: 40vh;
    width: 90%;
    margin-top: -125px;
  }
  .ipInfoTitle {
    font-size: 11px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
  }
  .ipInfoValue {
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
    height: 20px;
  }

  .ipInfoElement {
    width: 100%;
    margin: 5px auto;
    padding: 0px;
  }
  .ipInfoElement:after {
    border-left: none;
  }
  #siteTitle {
    padding-top: 20px;
  }
  #inputfieldDivWrapper {
    height: 43vh;
  }
  #inputBoxContainer {
    width: 100%;
  }
  #map {
    margin-top: -142px;
  }
}

@media screen and (max-width: 360px) {
  #ipInformationContainer {
    margin-top: -110px;
    height: 35vh;
  }
  .ipInfoValue {
    margin-bottom: 5px;
  }
  .ipInfoTitle {
    margin-bottom: 5px;
  }
  .ipInfoElement {
    margin: 0px;
  }
}

@media screen and (max-width: 321px) {
  h1 {
    font-size: 20px;
  }
  input[type="text"] {
    height: 50px;
    margin-top: 0px;
  }
  input[type="submit"] {
    height: 46px;
    right: 18px;
    top: 66px;
  }
}
